
*{
    box-sizing: border-box;
}   
/* Первое (третье) задание. */

.block{
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

.pink{
    width: 50px;
    height: 50px;
    background-color: pink;
    position: absolute;
    top: 20%;
    left: 30%;
}

.blue{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 5;
}

.green{
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    top: 80%;
    left: 90%;
}


/* Второе задание */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.box{
    height: 700px;
    max-width: 800px;
    background-color: #0d5825;
    position: relative;
}

blockquote{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 100px;
    padding-top: 50px;
}

p{
    margin: 0;
}

cite{
    font-weight: normal;
}

.behind,
.middle,
.front{
    width: 150px;
    position: absolute;
}

.behind{
    transform: rotate(-20deg);
    transition: transform 0.3s ease-out;
    top: 26%;
    left: 34%;
}

.middle{
    transform: rotate(-8deg);
    transition: transform 0.3s ease-out;
    top: 27%;
    left: 40%;
}

.front{
    transform: rotate(7deg);
    transition: transform 0.3s ease-out;
    left: 47%;
}

.behind:hover{
    cursor: pointer;
    transform: translateY(-11%) translateX(-10%) rotate(-17deg);
    transition: transform 0.3s ease-out;
}

.middle:hover{
    cursor: pointer;
    transform: translateY(-16%) translateX(-10%) rotate(-10deg);
    transition: transform 0.3s ease-out;
}

.front:hover{
    cursor: pointer;
    transform: translateY(-15%) translateX(-1%) rotate(6deg);
    transition: transform 0.3s ease-out;
}


/* Третье (первое) задание */


.inner{
    position: relative;
    margin: 30px 0;
    width: 13%;
    height: 300px;
}

.inner:hover > .menu {
    transform: translateX(0%);
}

.menu{
    width: 200px;
    color: #ffffff;
    background-color: #343434;
    padding: 30px 0 60px;
    transform: translateX(-180%);
    transition: 1.3s;
}

.drop-down{
	list-style: none;
}

.drop-down li{
	position: relative;
	padding-left: 14px;
    margin-bottom: 14px;
}

.drop-down li:before{
	content: "";
	width: 3px;
	height: 3px;
	display: inline-block;
	background-color:#ff9016;
	border: 1px solid #000000;
	position: absolute;
	left: -10px;
    top:0.6em;
    transform: translateY(-50%) rotate(45deg);
}

/* Не писать li > a - ошибка. Указать класс списка и в нем обратиться к ссылке */

.drop-down a{
    text-decoration: none;
    color: #ffffff;
}

.drop-down a:hover{
    color: #ff9016;
}

.nav-toggle{
    width: 298px;
    position: absolute;
    background-color: #343434;
    transform: rotate(90deg);
    top: 44%;
    color: #fff;
    text-align: center;
    left: -67%;
    cursor: pointer;
    padding:  8px 0;
    border: 2px solid #343434;
}




